<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->

            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">
                        <h1>Règles de Confidentialité de l'Application de Suivi des Ventes pour Démonstrateurs de
                            Produits Pharmaceutiques</h1>
                        <p>Nous, Novopharma, sommes engagés à protéger la confidentialité de vos informations
                            personnelles. Cette
                            politique de confidentialité décrit comment nous collectons, utilisons et protégeons les
                            données que vous nous
                            fournissez lors de l'utilisation de notre application de suivi des ventes pour les
                            démonstrateurs de produits
                            pharmaceutiques.</p>

                        <h2>Collecte et Utilisation des Données</h2>
                        <p>Nous ne collectons aucune donnée personnelle identifiable (DPI) des utilisateurs de notre
                            application de suivi des
                            ventes. L'application est conçue pour enregistrer les informations relatives aux ventes et à
                            la performance des
                            démonstrateurs de produits pharmaceutiques sans enregistrer de données privées personnelles.
                            Aucune information
                            personnelle telle que les noms, les adresses, les numéros de téléphone ou les adresses
                            e-mail n'est requise ou
                            stockée par notre application.</p>

                        <h2>Partage de Données</h2>
                        <p>Nous ne partageons aucune donnée personnelle identifiable avec des tiers. Toutes les
                            informations collectées par
                            notre application sont utilisées uniquement à des fins internes liées à l'amélioration de
                            nos services et ne sont
                            accessibles qu'aux employés autorisés nécessitant ces informations pour des raisons
                            professionnelles légitimes.</p>

                        <h2>Sécurité des Données</h2>
                        <p>Nous prenons des mesures de sécurité appropriées pour protéger les informations collectées
                            par notre application
                            contre la perte, l'utilisation abusive, l'accès non autorisé, la divulgation, l'altération
                            ou la destruction. Cela
                            inclut des protocoles de sécurité informatique, des contrôles d'accès et des politiques de
                            confidentialité strictes.
                        </p>

                        <h2>Liens vers des Sites Tiers</h2>
                        <p>Notre application peut contenir des liens vers des sites Web tiers. Veuillez noter que nous
                            ne sommes pas
                            responsables des pratiques de confidentialité de ces sites. Nous vous encourageons à lire
                            les politiques de
                            confidentialité de chaque site Web que vous visitez.</p>

                        <h2>Modification de la Politique de Confidentialité</h2>
                        <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment,
                            donc veuillez la consulter
                            fréquemment. Les modifications prendront effet immédiatement après leur publication sur
                            cette page.</p>

                        <h2>Contactez-Nous</h2>
                        <p>Si vous avez des questions ou des préoccupations concernant cette politique de
                            confidentialité, veuillez nous
                            contacter à l'adresse suivante : y.ouelhazi&#64;novopharma.tn.</p>

                        <p>En utilisant notre application, vous acceptez les termes de cette politique de
                            confidentialité.</p>

                        <p>Dernière mise à jour : 27/03/2024.
                        </p>
                    </div>
                </div>
                <!-- / Content -->

                <!-- Footer -->
                <app-footer></app-footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>